.dashboard {
  transition: 0.3s;
}

.dashboard .heading {
  text-align: right;
  padding: 0.5rem 5rem;
  font-weight: bold;
  color: darkslategray;
  border-bottom: 1px solid lightgray;
}

.dashboard-events {
  box-shadow: 0 0 4px black;
  width: 95%;
  margin: auto;
  height: 25rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  overflow: scroll;
}

.row {
  width: 100%;
}

.col:first-child {
  border-right: 1px solid lightgray;
}

.dashboard-events-body {
  max-height: 40rem;
}

.dashboard-events-heading {
  font-weight: 600;
  margin: 2rem 0 1rem;
  color: darkslategray;
}
.dashboard-event {
  background: white;
  color: rgb(0, 0, 0);
  border: 1px solid gray;
  text-align: left;
  margin: auto;
  margin-top: 0.2rem;
  margin-bottom: 0.6rem;
  border-radius: 0.4rem;
  position: relative;
  width: 90rem;
  transition: all 0.3s;
  display: flex;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.dashboard-event-title,
.dashboard-event-venue,
.dashboard-event-deadline {
  padding: 0.3rem 1rem;
  border-right: 1px solid lightgray;
}

.dashboard-event-title,
.dashboard-event-venue {
  width: 30%;
}

.dashboard-event-btns {
  padding-left: 2rem;
  width: 20%;
}

.edit,
.delete {
  margin: 0.3rem 0.5rem;
  border-radius: 100%;
  border: 1px solid darkslategray;
  transition: 0.2s;
}

.delete {
  font-weight: bold;
  font-size: 1.8rem;
  padding: 0 0.85rem;
}

.delete:hover {
  background: rgb(165, 36, 36);
  color: white;
}

.edit:hover {
  background: green;
  color: white;
}

.dashboard-event:hover {
  transform: scale(1.009);
}

.dashboard-event strong {
  color: darkslategray;
}

.home-images {
  margin-top: 2rem;
  border-top: 1px solid lightgray;
  transition: all 0.3s;
}

.images-thumbnails {
  background: darkslategray;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.418);
  display: flex;
  padding: 2rem;
  width: 100%;
  overflow-y: scroll;
}

.images-thumbnails img {
  height: 15rem;
  width: auto;
}

.thumbnail {
  margin-right: 2rem;
  position: relative;
  transition: 0.3s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.507);
}

.thumbnail:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px rgb(0, 0, 0);
}

.img-delete-btn {
  position: absolute;
  right: 0;
  background: rgba(167, 23, 23, 0.705);
  color: white;
  border: none;
  padding: 0px 0.7rem;
}

.img-delete-btn:hover {
  background: rgba(167, 23, 23, 0.959);
}

.dashboard-btns {
  margin-top: 2rem;
}

.dashboard-btns button {
  padding: 0.3rem 0.6rem;
  width: 100%;
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 500) {
  .dashboard-event-btns {
    padding-top: 4px;
  }
}
