.event {
  box-sizing: border-box;
  position: relative;
  width: 70%;
  margin: auto;
  margin-top: 4rem;
  background: lightgray;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
  margin-bottom: 4rem;
  padding-bottom: 0.1rem;
}

.event h1 {
  padding: 1rem 1.5rem;
  margin-bottom: 0;
  font-weight: 600;
  letter-spacing: 1px;
  color: darkslategray;
}

.event-image img {
  width: 100%;
}

.event-deadline {
  display: inline-block;
  padding: 0rem 3rem;
}

.event-deadline .deadline {
  margin-left: 10px;
  font-weight: 600;
}

.event strong {
  color: darkslategray;
}

.event-date {
  padding: 0 3rem;
  display: block;
  text-align: left;
  margin-top: 0.5rem;
  border-bottom: 1px solid darkgray;
}

.event-deadline .timer {
  margin-left: auto;
}

.event-deadline .timer span {
  border: 2px solid darkslategray;
  box-shadow: none;
  color: darkslategray;
  background-color: white;
}

.event p {
  padding: 0;
  margin: 0;
  padding: 1rem 2rem;
  letter-spacing: 0.3px;
  font-weight: 600;
  line-height: 1.6rem;
  border-bottom: 1px solid darkgray;
}

.event .footer {
  border-top: 1px solid darkgray;
  margin-top: 1rem;
  display: block;
}
.event .venue {
  padding: 0 3rem;
  font-weight: 600;
}
.event .event-register {
  margin: 0.5rem;
  margin-left: auto;
}

@media only screen and (max-width: 500px) {
  .event {
    width: 100%;
  }
}
